body { 
    padding: 50px 0px 0px 0px; 
    background-image: url("../images/home.png");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 35%;
    
    
}

.navbar {
    background-color: #1c1b1a;
}

.row-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: floralwhite;
    text-align: center;
}


.card {
    border: none;
    padding-top: 20%;
}
