

.navbar {
    background-color: #1c1b1a;
     float: right;
}
.navbar-nav a {
    float: right;
    text-align: right;
}

.row-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: floralwhite;
    text-align: center;
}
